<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ระบบจัดการ::พิพิธภัณฑ์อารยธรรมลุ่มน้ำโขง</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
</head> 
<body>
        <header>
            <h1><strong>MEKONG BASIN</strong> CIVILIZATION MUSEUM</h1>
        </header>
        <div class="container-fluid main-container h-100">
            <div class="row h-100">
                <aside class="col-2 ">
                    <nav class="navbar navbar-expand h-100">
                        <ul class="flex-md-column flex-row justify-content-between h-100">
                            <li class="nav-small">
                                เมนูหลัก
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/"><i class="fas fa-home"></i> หน้าแรก</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cabinet"><i class="fas fa-edit"></i> ระบบจัดการตู้</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/type"><i class="fas fa-edit"></i> ระบบจัดการชนิดวัตถุ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/artifact"><i class="fas fa-edit"></i> ระบบจัดการวัตถุ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/map"><i class="fas fa-map-marker-alt"></i> ระบบจัดการแผนผัง</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/manage/qrcode"><i class="fas fa-qrcode"></i> ระบบจัดการ QR Code</a>
                            </li>
                            <li class="w-100 btn-delete">
                                <a class="nav-link btn bg-orange" href="/logout">ออกจากระบบ</a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <main id="" class="col-10">
                    <div class="page-bar">
                        <h4>หน้าแรก</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="db-box bg-green2 ">
                                    <div>
                                        <small>จำนวนตู้ทั้งหมด</small>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5>13</h5>
                                        </div>
                                        <div class="col-4">
                                            <i class="fas fa-archive fa-3x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="db-box bg-pink">
                                    <div>
                                        <small>จำนวนวัตถุโบราณทั้งหมด</small>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5>1,332</h5>
                                        </div>
                                        <div class="col-4">
                                            <i class="fas fa-ankh fa-3x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="db-box bg-orange">
                                    <div>
                                        <small>จำนวนผู้เข้าชม</small>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5>13,520</h5>
                                        </div>
                                        <div class="col-4">
                                            <i class="fas fa-user fa-3x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chart">

                        </div>
                    </div>
                </main>
            </div>
        </div>
</body>
</html>